{% load Kraggne_tags %}

<div class="nav-collapse">
{% for menu in object_list %}
{% if forloop.first %}
<ul class="nav menu-0">
{% else %}
    {% for x in last_value|range:menu.level %}
    <ul class="nav menu-{{x|sub:root.level}}">
    {% endfor %}

    {% for x in menu.level|range:last_value %}
    </ul></li>
    {% endfor %}
{% endif %}


{% last == menu.level diff %}
<li class="item-{{menu.level|sub:root.level}} {% if menu|ancestor:page %}active{% else %}inactive{% endif %} item">
<a href="{{menu.get_absolute_url}}" class="link-{{menu.level}} {% if menu|ancestor:page %}active{% else %}inactive{% endif %} link">{{menu}}</a>



{% if forloop.last %}
    {% for x in root.level|range:menu.level %}
    </ul></li>
    {% endfor %}
{% endif %}
{% endfor %}
</div>
