{% extends "bootstrap/base.html" %}
{% load Kraggne_tags flatblocks contentblocks %}
{# load Kraggne_tags flatblocks inplace_edit #}


{% block page.title %}{{page.name}}{% endblock %}
{% block site.home_url %}/{% endblock %}
{% block project.menu %}
{# menu level_min=-1 level_nb=1 #}
{% menu "main" %}
{% endblock %}

{% block project.media %}
{# inplace_media #}
{% endblock %}

{% block project.body %}
<h2>Menu</h2>
{% menu "main" %}

<h2>breadcrumb:</h2>
{% breadcrumb %}

{% containeur "base-test" %}
{% containeur "base-test2" %}

{% endblock %}
